<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ĐĂNG KÍ</title>
</head>
<body>
    <h1>FORM ĐĂNG KÍ</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">

        <label>Họ và tên:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br/>

        <label>Giới tính:</label><br/>
        <input type="radio" th:field="*{gender}" value="Nam" />Nam<br/>
        <input type="radio" th:field="*{gender}" value="Nữ" />Nữ<br/>

        <label>Quốc tịch:</label>
        <select th:field="*{nationality}">
            <option value="Việt Nam">Việt Nam</option>
            <option value="Nhật Bản">Nhật Bản</option>
            <option value="Mỹ">Mỹ</option>
            <option value="Pháp">Pháp</option>
        </select><br><br>

        <button type="submit">Gửi</button>
    </form>
</body>
</html>